{% extends 'base.html.twig' %}

{% block body %}
    <div class="main">
        <div class="headline">
            <a class="btn btn--back" href="{{ path('room_users' , { id: room.id }) }}">Back</a>
            <h1>Add user to room {{ room.getName() }}</h1>
        </div>

        <section class="create__new create__new--user">
            <a href="{{ path( 'user_create') }}">Create new user.</a>
        </section>

        <section class="list list__users">
            {% if users is empty %}
                <p class="warning">List of users is empty</p>
            {% else %}
                <ul>
                    {% for user in users %}
                        <li>
                            <a class="name" href="{{ path('user_detail', { id: user.id}) }}">
                                {{ user.username }} - {{ user.name }} {{ user.surname }}
                            </a>
                            <div class="list__actions">
                                <a class="list__reservation"
                                   href="{{ path('room_user_add', {id: room.getId() , userId: user.id }) }}">
                                   ADD
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </section>
    </div>
{% endblock %}