{% extends 'base.html.twig' %}

{% block body %}
    <div class="main">
        <div class="headline">
            <a class="btn btn--back" href="{{ path('group_rooms' , { id: group.id }) }}">Back</a>
            <h1>Add room to group {{ group.getName() }}</h1>
        </div>

        <section class="create__new create__new--room">
            <a href="{{ path( 'room_create') }}">Create new room.</a>
        </section>

        <section class="list list__users">
            {% if rooms is empty %}
                <p class="warning">List of users is empty</p>
            {% endif %}
            <ul>
                {% for room in rooms %}
                    <li>
                        <a class="name" href="{{ path('room_detail', { id: room.getId()}) }}">
                            {{ room.getName() }}
                        </a>
                        <div class="list__actions">
                        <a class="list__reservation" href="{{ path('group_room_add', {id: group.getId() , roomId: room.id }) }}">
                            ADD
                        </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </div>
{% endblock %}