{% extends 'base.html.twig' %}

{% block body %}
    <div class="main">
        <div class="headline">
            <a class="btn btn--back" href="{{ path('group_detail' , { id: group.id }) }}">Back</a>
            <h1>group {{ group.name }}</h1>
        </div>

        <section class="create__new add__new--member">
            <a href="{{ path( 'group_members_add_list', {id: group.id}) }}">Add new member.</a>
        </section>
        <section class="list list__members">
            <h1>Members:</h1>

            {% if group.members is empty %}
                <p class="warning"> none</p>
            {% else %}
                <ul>
                    {% for member in group.members %}
                        <li>
                            <a class="name" href="{{ path('user_detail', { id: member.id}) }}">
                                {{ member.username }} - {{ member.name }} {{ member.surname }}
                            </a>
                            <div class="list__actions">
                                <a class="list__delete"
                                   href="{{ path('group_member_delete', {id: group.id, memberId: member.id}) }}">
                                    DELETE
                                </a>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

        </section>
    </div>

{% endblock %}