{% extends 'base.html.twig' %}

{% block body %}
    <div class="main">
        <div class="headline">
            <a class="btn btn--back" href="{{ path('group_members' , { id: group.id }) }}">Back</a>
            <h1>Add member to group {{ group.getName() }}</h1>
        </div>

        <section class="create__new create__new--user">
            <a href="{{ path( 'user_create') }}">Create new user.</a>
        </section>

        <section class="list list__users">
            {% if users is empty %}
                <p class="warning">List of users is empty</p>
            {% else %}
            <ul>
                {% for user in users %}
                <li>
                        <a class="name" href="{{ path('user_detail', { id: user.id}) }}">
                            {{ user.username }} - {{ user.name }} {{ user.surname }}
                        </a>
                        <div class="list__actions">
                        <a class="list__reservation" href="{{ path('group_member_add', {id: group.getId() , userId: user.id }) }}">
                            ADD
                        </a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        </section>
    </div>
{% endblock %}