{% extends '/base.html.twig' %}

{% block body %}
    <div class="main">
        <section class="headline">
            <a class="btn btn--back" href="{{ path('user_detail' , { id: user.id }) }}">Back to user profile</a>
            {% if  app.user and app.user.id == user.id %}
                <h1>My rooms</h1>
            {% else %}
                <h1>rooms of {{ user.username }}</h1>
                <div class="subtitle">
                    <dl>
                        <dt>Jméno:</dt>
                        <dd>{{ user.name }} {{ user.surname }}</dd>
                    </dl>
                </div>
            {% endif %}
        </section>
        <section class="list list__groups__member list--link">
            <h2>group member:</h2>

            {% if user.groups_member is empty %}
                <p class="warning">none</p>
            {% else %}
                <ul>
                    {% for group in user.groups_member %}
                        <li>
                            <a href="{{ path('group_detail', { id: group.id}) }}">
                                {{ group.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

        </section>
        <section class="list list__groups__admin list--link">

            <h2>group admin:</h2>

            {% if user.groups_admin is empty %}
                <p class="warning">none</p>
            {% else %}
                <ul>
                    {% for group in user.groups_admin %}
                        <li>
                            <a href="{{ path('group_detail', { id: group.id}) }}">
                                {{ group.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

        </section>
    </div>


{% endblock %}